html {
    height: 100%
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100%;
    gap: 20px;
}

#container {
    display: flex;
}

#left-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: auto;
    align-items: center;
    flex: 1;
}

.left-button {
    
}

#middle-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#right-container {
    margin-left: auto;
    flex: 1;
}

#clear {
    padding: 5px 20px;
    border-radius: 0%;
    border: 1px solid black;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    align-self: center;
}

#grid-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border: 1px solid black;
    width:  500px;
    height: 500px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
}

#box {
    flex: auto;
}

.line-container {
    display: flex;;
    flex: auto;
}

footer {
    text-align: center;
}

#name {
    font-style: italic;
}

.red {
    background-color: #0693cf;
}
