html {
    height: 100%;
    font-family: monospace;
}

h1 {
    text-shadow: 5px 5px 0px rgba(0, 0, 0, 0.15);
    font-size: 48px;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100%;
    gap: 20px;
}

#container {
    display: flex;
    gap: 50px;
    width: 100%;
}

#left-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    flex: 1;
    gap: 30px;
}

#left-span {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.left-button {
    padding: 10px 20px;
}

#blue {
    background-color: #0693cf;
    border: 1px solid black;
}

button {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

#rgb {
    background: linear-gradient(
        135deg,
        rgba(255, 0, 0, 1) 0%,
        rgba(255, 154, 0, 1) 10%,
        rgba(208, 222, 33, 1) 20%,
        rgba(79, 220, 74, 1) 30%,
        rgba(63, 218, 216, 1) 40%,
        rgba(47, 201, 226, 1) 50%,
        rgba(28, 127, 238, 1) 60%,
        rgba(95, 21, 242, 1) 70%,
        rgba(186, 12, 248, 1) 80%,
        rgba(251, 7, 217, 1) 90%,
        rgba(255, 0, 0, 1) 100%
    );
    border: 1px solid black;
}

#black {
    background: linear-gradient(135deg, rgba(0,0,0,1) 0%, rgba(210,210,210,1) 100%);
    border: 1px solid black;
}

#remove {
    background:linear-gradient(135deg,#ffffff 49%,rgb(255, 0, 0) 50%,#ffffff 51%);
    border: 1px solid black;
}

#middle-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex: 1;
    align-items: center;
}

#right-container {
    margin-left: auto;
    flex: 1;
}

#clear {
    padding: 5px 20px;
    border: 1px solid black;
    align-self: center;
    border-radius: 0;
}

#new {
    border: 1px solid black;
    padding: 5px 20px;
    border-radius: 0;
}

#grid-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border: 1px solid black;
    width:  500px;
    height: 500px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
}

#box {
    flex: auto;
}

.line-container {
    display: flex;;
    flex: auto;
}

footer {
    text-align: center;
    font-family:monospace
}

#name {
    font-style: italic;
}

.blue {
    background-color: #0693cf;
}

.left-button.onUse {
    filter: brightness(80%);
}
